# Arquivos e pastas do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Ambiente virtual
.env
.venv/
env/
venv/
ENV/

# Configurações e chaves
*.sqlite3
db.sqlite3
.env.*
*.env
*.secret

# Arquivos de log
*.log

# Arquivos estáticos e mídia (serão gerados no servidor)
staticfiles/
static/
media/

# Configuração do sistema operacional
.DS_Store
Thumbs.db

# Configuração do editor
.vscode/
.idea/

# Arquivos específicos do Render
render.yaml
